# Symfony Standard Edition
/app/config/parameters.yml
/var/
/vendor/
/public/bundles/
/node_modules/
/env
/env.*
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
