{% extends 'base.html.twig' %}

{% block title %}Nouvelle Propriété{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-full max-w-2xl p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-2xl font-semibold text-center text-gray-800 mb-5">Créer une nouvelle propriété</h1>

            <div class="bg-gray-50 p-4 rounded-md mb-6">
                <p class="text-gray-600">Veuillez remplir les informations ci-dessous :</p>
            </div>

            {{ include('property/_form.html.twig') }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>

document.addEventListener("DOMContentLoaded", () => {
    const cityRegex = /^[A-Z][-a-zA-ZÀ-ú\s]{2,}$/;
    validateInput('property_address_zipCode', /^\d{4}$/, false)
    validateInput('property_address_city', cityRegex)
});
</script>
{% endblock %}
