{% extends "base.html.twig" %}

{% block link %}

    <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a href="{{ path("app_register_new")}}" class="nav-link" role="button"  id="menu_btn_new_register">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <span class="material-icons">app_registration</span>
            </div>
            <span class="nav-link-text ms-1">Nouveau Registre</span>
          </a>
        </li>     

        <li class="nav-item dropdown">
        <hr class="horizontal light mt-1 mb-1">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              {% for register in menu_registers() %}
                <li class="nav-item dropdown">
                  <a href="{{ path("app_register_show", {'id': register.id})}}" class="nav-link" role="button" id="menu_btn_register_{{register.id}}">
                    <span class="nav-link-text ms-0">{{register.name}}</span>
                  </a>
                </li>    
                <hr class="horizontal light mt-0 mb-0">
              {% endfor %}
            </div>
        </li>

    </ul>

{% endblock %}