<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    
    <body class="bg-gray-200">

            {% set flashs = {1 : 'success', 2 :'primary', 3 : 'secondary', 4 :'danger', 5 :'warning', 6 :'info', 7 :'light', 8 :'dark'} %}

            <div id="alert">
              {% for flash in flashs %}
                {% for message in app.flashes(flash) %}
                  <div class="alert alert-{{flash}} mt-3" >
                  {{ message }}
                  </div>
                {% endfor %}
              {% endfor %}
            </div> 

        {% block body %}{% endblock %}
    </body>
</html>



