<form method="post" action="{{ path('app_financial_entry_delete', {'id': financial_entry.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ financial_entry.id) }}">
    <button class="mt-4 py-2 px-4 bg-purple-600 text-white font-bold rounded hover:bg-purple-700">Supprimer</button>
</form>
