{% extends 'base.html.twig' %}

{% block title %}Edit FinancialEntry{% endblock %}

{% block body %}
    <h1>Edit FinancialEntry</h1>

    {{ include('financial_entry/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="my-2 flex justify-end">
        {{ include('financial_entry/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
<script>
document.addEventListener("DOMContentLoaded", () => {
    const amountRegex = /^\d+(?:[\.,]\d{0,2})?$/;
    const dateRegex = /^(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[0-2])\.(\d{4})$/;
    const descriptionRegex = /^.{1,255}$/;

    validateInput('financial_entry_amount', amountRegex, false)
    validateInput('financial_entry_paidAt', dateRegex, false)
    validateInput('financial_entry_description', descriptionRegex, false)
});
</script>
{% endblock %}
