{% extends 'base.html.twig' %}

{% set pageName = "Nouveau bail de location" %}
{% block title %}{{pageName}}{% endblock %}
{% block pageName %}{{pageName}}{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-full max-w-3xl p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-2xl font-semibold text-center text-gray-800 mb-5">{{ pageName }}</h1>

{% set properties = "hello" %}
{% if properties is not empty %}
            <div class="bg-gray-50 p-4 rounded-md mb-6">
                <p class="text-gray-600">Veuillez remplir les informations ci-dessous :</p>
            </div>

    {{ include('lease/_form.html.twig') }}
{% else %}
    <div class="my-2 flex justify-center bg-amber-500 px-5 my-4 rounded-lg">
        Vous devez ajoutez une propriété avant de pouvoir ajouter un locataire.
    </div>
{% endif %}
            

        </div>
    </div>
    
{% endblock %}

{% block javascripts %}

<script>
window.addEventListener("load", () => {
    document.getElementById("menu_btn_lease").classList.add("menu-btn-active");

    addOneYearToInput(document.getElementById("lease_fromAt"), document.getElementById("lease_toAt"));

})
</script>
{% endblock %}
