<form method="post" action="{{ path('app_property_rent_delete', {'id': property_rent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property_rent.id) }}">
    <button class="btn">Delete</button>
</form>
