{% extends 'base.html.twig' %}

{% block title %}Edit PropertyRent{% endblock %}

{% block body %}
    <h1>Edit PropertyRent</h1>

    {{ include('property_rent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_property_rent_index') }}">back to list</a>

    {{ include('property_rent/_delete_form.html.twig') }}
{% endblock %}
