{% extends 'base.html.twig' %}

{% set pageTitle = "Nouveau loyer" %}
{% block title %}{{pageTitle}}{% endblock %}
{% block pageName %}{{pageTitle}}{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-full max-w-2xl p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-2xl font-semibold text-center text-gray-800 mb-5">{{pageTitle}}</h1>


                {% if properties is not empty %}
                    <div class="bg-gray-50 p-4 rounded-md mb-6">
                        <p class="text-gray-600">Veuillez remplir les informations ci-dessous :</p>
                    </div>

                    {{ include('property_rent/_form.html.twig') }}
                {% else %}  
                        <div class="my-2 flex justify-center bg-amber-500 px-5 my-4 rounded-lg">
                            Vous devez ajoutez une propriété avant de pouvoir ajouter un locataire.
                        </div>
                {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>


document.addEventListener("DOMContentLoaded", () => {

    const descriptionRegex = /^([A-Z]|[0-9]+)[-a-zA-ZÀ-ú\s]{5,255}$/;
    const monthlyPriceRegex = /^(?=.*\d)\d{1,5}(\.\d{1,2})?$/;

    validateInput('property_rent_description', descriptionRegex)
    validateInput('property_rent_monthlyPrice', monthlyPriceRegex)

    //ajoute un an à la date de fin de location
    addOneYearToInput(document.getElementById("property_rent_fromAt"), document.getElementById("property_rent_endedAt"));
});

</script>

<script>
window.addEventListener("load", () => {
    document.getElementById("menu_btn_rent").classList.add("menu-btn-active");
})
</script>
{% endblock %}
